<aside [className]="sidebarWrapperClasses" class="bg-red-500">
  <div class="mt-8 ">
    <img src="/assets/logo.png" class="w-32 h-32" />
    <h1 class="flex justify-center text-3xl font-bold font-Orbitron text-emerald-600">UNIFIT</h1>
  </div>

  <nav class="flex-1 w-full ">
    <ul class="flex flex-col w-full gap-2">
      <li>
        <a
          routerLink="/app"
          class="flex items-center gap-4 px-4 py-2 text-sm transition-colors duration-200 border rounded-md cursor-pointer hover:bg-gray-100"
        >
          <i
            class="flex items-center justify-center text-lg pi pi-th-large"></i>
          Home
        </a>
      </li>

      <li>
        <a
          routerLink="/app/workouts"
          class="flex items-center gap-4 px-4 py-2 text-sm transition-colors duration-200 border rounded-md cursor-pointer hover:bg-gray-100"
        >
          <i class="flex items-center justify-center text-lg pi pi-list"></i>
          Treinos
        </a>
      </li>

      <li>
        <a
          routerLink="/app/profile"
          class="flex items-center gap-4 px-4 py-2 text-sm transition-colors duration-200 border rounded-md cursor-pointer hover:bg-gray-100"
        >
          <i class="flex items-center justify-center text-lg pi pi-user"></i>
          Perfil
        </a>
      </li>
    </ul>
  </nav>

  <a
    routerLink="/app/login"
    class="flex items-center justify-between w-full gap-4 px-4 py-2 text-sm transition-colors duration-200 border rounded-md hover:bg-gray-100"
  >
    <div class="flex flex-col min-w-0 text-left">
      <span class="text-sm font-semibold truncate text-zinc-700">
        {{ user.name }}
      </span>
      <span class="text-xs truncate text-zinc-500">{{ user.email }}</span>
    </div>

    <i class="flex items-center justify-center shrink-0 pi pi-sign-out"></i>
  </a>
</aside>
