<main class="space-y-6">
  <div class="space-y-2">
    <h1 class="font-semibold tracking-tight text-white text-8xl font-Orbitron">UniFit</h1>
    <h1 class="text-2xl font-semibold tracking-tight text-white">Criar uma conta</h1>
    <p class="text-sm text-muted-foreground">
      Insira seu email abaixo para criar uma conta
    </p>
  </div>

  <form class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <mdb-form-control>
        <input
          mdbInput
          name="email"
          type="email"
          class="text-white form-control"
          placeholder="Email"
        />
      </mdb-form-control>
    </div>

    <div class="flex flex-col gap-1">
      <mdb-form-control>
        <input
          mdbInput
          name="password"
          type="password"
          class="text-white form-control"
          placeholder="Senha"
        />
      </mdb-form-control>
    </div>

    <button type="submit" class="w-full text-white btn btn-primary" mdbRipple>
      Criar conta
    </button>
  </form>

  <p class="text-sm text-muted-foreground">
    Já tem uma conta?
    <a routerLink="/auth/login" class="font-medium text-white underline">Entrar</a>
  </p>
</main>
