<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-700 border-solid rounded-lg dark:border-gray-200">

    <div>
      <H1 class="flex justify-center p-10 text-4xl font-semibold text-center font-Orbitron">MINHA SEMANA</H1>
    </div>

    <div class="grid grid-cols-1 gap-4 p-4 border-2 border-gray-200 border-solid rounded-lg sm:grid-cols-5 dark:border-gray-700">

      <div class="col-span-1 p-4 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <h2 class="mb-2 text-lg font-semibold">Segunda</h2>
          <ul class="pl-4 list-disc">

              <li>Atividade 1</li>
              <li>Atividade 2</li>
          </ul>
      </div>
      <div class="col-span-1 p-4 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <h2 class="mb-2 text-lg font-semibold">Terça</h2>
          <ul class="pl-4 list-disc">
              <li>Atividade 1</li>
              <li>Atividade 2</li>
          </ul>
      </div>
      <div class="col-span-1 p-4 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <h2 class="mb-2 text-lg font-semibold">Quarta</h2>
          <ul class="pl-4 list-disc">
              <li>Atividade 1</li>
              <li>Atividade 2</li>
          </ul>
      </div>
      <div class="col-span-1 p-4 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <h2 class="mb-2 text-lg font-semibold">Quinta</h2>
          <ul class="pl-4 list-disc">
              <li>Atividade 1</li>
              <li>Atividade 2</li>
          </ul>
      </div>
      <div class="col-span-1 p-4 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <h2 class="mb-2 text-lg font-semibold">Sexta</h2>
          <ul class="pl-4 list-disc">
              <li>Atividade 1</li>
              <li>Atividade 2</li>
          </ul>
      </div>
  </div>
  </div>
</div>
