<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-700 border-solid rounded-lg dark:border-gray-200">

    <div>
      <H1 class="flex justify-center p-10 text-4xl font-semibold text-center font-Orbitron">
        MONTE SEU TREINO
      </H1>
    </div>

    <div class="grid grid-cols-1 gap-4 p-4 border-2 border-gray-200 border-solid rounded-lg sm:grid-cols-5 dark:border-gray-700">

      <div class="col-span-1">
        <label for="training-name" class="block font-medium text-gray-700 text -sm dark:text-gray-200">Treino
        </label>
        <select type="text" id="training-name" class="block w-full px-3 py-2 mt-1 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <option value="1">Treino 1</option>
          <option value="2">Treino 2</option>
          <option value="3">Treino 3</option>
          <option value="4">Treino 4</option>
          <option value="5">Treino 5</option>
        </select>
      </div>
      <div class="col-span-1">
        <label for="training-name" class="block font-medium text-gray-700 text -sm dark:text-gray-200">Exercícios
        </label>
        <select type="text" id="training-name" class="block w-full px-3 py-2 mt-1 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <option value="1">Exercício 1</option>
          <option value="2">Exercício 2</option>
          <option value="3">Exercício 3</option>
          <option value="4">Exercício 4</option>
          <option value="5">Exercício 5</option>
        </select>
      </div>
      <div class="col-span-1">
        <label for="training-name" class="block font-medium text-gray-700 text -sm dark:text-gray-200">Series
        </label>
        <select type="text" id="training-name" class="block w-full px-3 py-2 mt-1 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="col-span-1">
        <label for="training-name" class="block font-medium text-gray-700 text -sm dark:text-gray-200">Dia da semana
        </label>
        <select type="text" id="training-name" class="block w-full px-3 py-2 mt-1 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700">
          <option value="1">Segunda-feira</option>
          <option value="2">Terça-feira</option>
          <option value="3">Quarta-feira</option>
          <option value="4">Quinta-feira</option>
          <option value="5">Sexta-feira</option>
        </select>
      </div>


  </div>
</div>

