<main class="dashboard">
  <div class="flex justify-center mb-4">
    <div class="w-full max-w-80">
      <h3 class="mb-2 text-xl font-semibold text-center">IMC</h3>
      <p-chart type="polarArea" [data]="imcData" [options]="imcChartOptions" />
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center w-full gap-8 xl:flex-row"
  >
    <div class="w-full xl:w-1/2 max-w-xl">
      <h3 class="mb-2 text-xl font-semibold text-center">
        Relatório de Treinos
      </h3>
      <p-chart type="bar" [data]="treinoData" [options]="treinoChartOptions" />
    </div>

    <div class="w-full xl:w-1/2 max-w-xl">
      <h3 class="mb-2 text-xl font-semibold text-center">Progresso Físico</h3>
      <div class="pt-2">
        <p-chart
          type="line"
          [data]="progressoData"
          [options]="progressoChartOptions"
        />
      </div>
    </div>
  </div>
</main>
