<main class="space-y-6">
  <div class="space-y-2">
    <h1 class="text-2xl font-semibold tracking-tight text-white">Bem vindo de volta</h1>
    <p class="text-sm text-slate-300">
      Insira seu email e senha para acessar sua conta
    </p>
  </div>

  <form
    class="flex flex-col gap-2"
    (submit)="handleSubmit($event)"
    ngNativeValidate
  >
    <div class="flex flex-col gap-1">
      <input
        pInputText
        required
        type="email"
        name="email"
        placeholder="E-mail"
        class="p-inputtext-sm"
        [disabled]="isSubmitting"
      />
    </div>

    <div class="flex flex-col gap-1">
      <input
        pInputText
        required
        name="password"
        type="password"
        placeholder="Senha"
        class="p-inputtext-sm"
        [disabled]="isSubmitting"
      />
    </div>

    <button
      pButton
      pRipple
      type="submit"
      [disabled]="isSubmitting"
      size="small"
      label="Entrar"
      class="!bg-emerald-500 hover:!bg-emerald-600 !border-emerald-500 hover:!border-emerald-600"
    >

    </button>
  </form>

  <div class="flex flex-col gap-1">
    <a
      routerLink="/auth/reset-password"
      class="mt-1 mr-2 text-sm font-medium underline text-slate-300 hover:text-slate-200"
    >
      Esqueceu sua senha?
    </a>

    <p class="text-sm text-slate-300 ">
      Ainda não tem uma conta?
      <a routerLink="/auth/register" class="font-medium underline hover:text-slate-200">Criar</a>
    </p>
  </div>
</main>
